.effect{
    width: 180px;
    height: 180px;
    background-color: lightblue;
    margin-left:50px;
    margin-top:50px;
    transition: transform 0.60s;
}

.effect:hover{
    transform: rotate(360deg);
}


.animation{
    width:180px;
    height:180px;
    background-color: darkblue;
    margin-left:50px;
    margin-top:50px;
    position: relative;
    animation: mymove 1s infinite;
    transition: transform 0.60s;
}

@keyframes mymove {
    from {top: 0px;}
    to   {top: 100px;}

    /* 0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
     */
  }

 .animation:hover{
    transform:rotate(90deg) ;
 } 