body{
    display: flex;
    justify-content:space-around;
    padding: 25px;
}


.Div1{
    width:700px;
    height:810px;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    padding:60px;
    
}

header{
    width:575px;
    height:800px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:15px;
}

header img{
    width:560px;
    border-radius: 15px;
}

header h2{
    padding-right: 270px;
    font-family:'Young Serif', serif;
}

header p{
    text-align: center;
    margin-top: -6px;
    font-family: 'Outfit', sans-serif;
}

.div2{
    background-color: hsl(330, 100%, 98%);
    width:550px
}

.div2 p{
    font-weight: bold;
    margin-right:390px;
    margin-top:8px;
    color: hsl(332, 51%, 32%);
    font-family: 'Outfit', sans-serif;
}

ul{
    display: flex;
    flex-direction: column;
    gap:10px
}

ul{
    margin-right:99px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.div3 p{
    font-weight: bold;
    margin-right:410px;
    margin-top:15px;
    color:hsl(14, 45%, 36%); 
    font-size:20px;
    font-family: 'Outfit', sans-serif;
}

.Div4{
    width:700px;
    height:810px;
    background-color: hsl(0, 0%, 91%);
    display: flex;
    justify-content: center;
    padding:60px;
    border:4px solid rgb(0, 0, 0);
}

main{
    width:700px;
    height:810px;
    background-color:hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    padding:60px;
}

.div4{
    width:575px;
    height:800px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:15px;
}
ol{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.hr{
    width:530px;
    height:1px;
    background-color:hsl(30, 18%, 87%) ;
    margin-top:10px;
}

main ul{
    list-style-type: none;
    margin-right:160px;
}
main ul li{
    margin-left:170px;
}

main b{
    color:hsl(14, 45%, 36%);
}

main p{
    color:hsl(14, 45%, 36%);
    font-weight: bold;
    margin-right:410px;
    margin-top:15px;
    font-size:20px;
    font-family: 'Outfit', sans-serif;
}

h1{
    color:hsl(14, 45%, 36%);
    font-weight: bold;
    margin-right:350px;
    margin-top:15px;
    font-family: 'Outfit', sans-serif;
}