@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color:rgb(31, 35, 130);
    
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    align-items:center;
    
}

header button{
    width:180px;
    height:55px;
    border-style:none;
    background-color: rgb(123, 104, 238);
    color:white;
    border-radius: 4px;
    cursor: pointer;
    margin-left:40px;
    text-shadow: 1px 1px 1px white;
    font-size:15px;
    font-family: "Roboto", sans-serif;
    transition: 0.20s;
}
header button:hover{
    background-color: rgb(62, 87, 208);

}

.nav{
    display: flex;
    gap:20px;
    align-items: center;
    padding:150px 200px;
}

.nav img{
    width:35px;
    transition: 0.5s;
}

.nav img:hover{
    opacity: 0.4;
}

main h1{
    color:white;
    font-size:85px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: -120px;
    margin-left:185px;
    font-variant: small;
    
    
}

main p{
    color:white;
    font-weight:100;
    margin-left:185px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size:18px;
    margin-top: -17px;
}


footer button{
    width:180px;
    height:55px;
    border-style:none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

footer button:hover{
    background-color: rgb(123, 104, 238);
    color:white;
}

.but1{
    background-color: rgb(255, 255, 255);
    color:rgb(128, 102, 232);
    text-shadow: 1px 1px 1px rgb(123, 101, 215);
}

.but2{
    background-color: rgb(62, 87, 208);
    color:white;
}

footer{
    display: flex;
    gap:20px;
    padding: 60px 184px;
}

.but1{
    background-color: rgb(255, 255, 255);
    color:rgb(128, 102, 232);
    text-shadow: 1px 1px 1px rgb(123, 101, 215);
}

.but2{
    background-color: rgb(62, 87, 208);
    color:white;
}

footer{
    display: flex;
    gap:20px;
    padding: 60px 184px;
}

.br1 {
    display: block;
    margin: 0.25em 0;
    height: -2px;;
    content: " ";
}

.br2{
    display: block;
    margin: 0.25em 0;
    height: 5px;;
    content: " ";
}

.img{
    width:780px;
    margin-left:1250px;
    margin-top:-1000px;
}


i{
    color:rgb(255, 255, 255);
}

svg{
    width:30px;
    
}