@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');


body{
   background-color: hsl(0, 0%, 8%);
   display:flex;
   justify-content: center;
   align-items: center;
   padding:90px;
}

div{
    height: 400px;
    width: 450px;
    background-color: hsl(0, 0%, 12%);
    padding: 5px 10px;
    border-radius: 20px;
    font-Family: "Inter";
}

img{
    width: 100px;
    height: 100px;
    border-radius:50%;
    margin-top: 40px;
}

.div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p{
    color: hsl(0, 0%, 100%);
    font-size:30px;
    margin-top:20px;
    font-family: 'Inter-regural-100', sans-serif;
    
}

h4{
    margin-top: -20px;
    margin-left: 8px;
    color:hsl(75, 94%, 57%);
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#p{
    color:white;
    font-size: 18px;
    text-align:center;
    font-family: 'Inter', sans-serif;
}


#div{
    display:flex ;
    flex-direction: column;
    gap:20px;
    align-items: center;
   
    
}

button{
    background-color:hsl(0, 0%, 20%) ;
    color: white;
    width:370px;
    height:55px;
    border: 1px solid hsl(0, 0%, 20%);
    border-radius: 10PX;
    transition: 0.5s;
    font-weight: bolder;
    font-size: 17px
}

button:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
}

