@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #050c03;
    font-family: "Roboto";
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
}
li, header a{
    float: left;
    font-size: 25px;
}
header{
    display: flex;
    justify-content: space-between;
}
Header a{
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    color: #acee8e;
}
p, label{
    color: #083206;
}
#img1, #img2, #img3{
    width: 500px;
    height: 300px;
    border-radius: 8px;
    border: 1px #64f861 solid;
}
.main_div1, .main_div2, .main_div3{
    display: flex;
    margin-top: 10%;
}
h1{
    font-size: 60px;
    padding: 10px;
    color: #35bc43;
}
#h2_1{
    font-size: 30px;
    padding: 10px;
    color: #2a6131;
}
#h2_2, #h2_3, #h2_4{
    font-size: 40px;
    color: #47e557;
}
.div2, .div4{
    margin-left: 5%;
}
#p1, #p2{
    font-size: 20px;
}
.div5{
    width: 46.5%;
    text-align: center;
    margin-left: -30px;
}
.div6{
    margin-top: 40px;
    font-size: 20px;
    margin-left: 30px;
}
.for_input input{
    width: 600px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background-color: #70e192;
    color: black;
}
#textarea1{
    background-color: #96dc8d;
}
.submit_div{
    text-align: center;
}
#input5{
    margin-top: 20px;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: #1c3a20;
    font-size: 20px;
}
form input, form textarea{
    margin-top: 10px;
}
.div7 a{
    text-decoration: none;
    font-size: 20px;
    margin-top: 10%;
    color: #7cd78e;
}
footer{
    text-align: center;
    margin-top: 10%;
}